@{
  Layout = "_Layout";
}

<div class="container">
  <div class="display">
    <h1>Add New Contact Information</h1>

    <form action="/contact/new" method="post">
      <div class="form-group">

        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone">
        <label for="street">Street</label>
        <input type="text" class="form-control" id="street" name="street">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state">
        <label for="zip">Zip Code</label>
        <input type="text" class="form-control" id="zip" name="zip">

        <button type="submit" name="button">Submit Contact</button>
      </div>
    </form>
  </div>

  <button><a href="/contact/add">Add Contact</a></button>
  <button><a href="/contacts/clear/safeguardall">Clear Contacts</a></button>
  <button><a href="/">Return to Homepage</a></button>
</div>
