@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Address Book</h1>
  <h2>Address Book Cleared!</h2>


  <button><a href="/contact/add">Add Contact</a></button>
  <button><a href="contacts/clear/safeguardall">Clear Contacts</a></button>
  <button><a href="/">Return to Homepage</a></button>
</div>
