@{
  Layout = "_Layout";
}

<div class="container">
  <div class="display">
    <h1>Address Book</h1>
    <h2>Are you really sure you want to delete this contact?</h2>
  </div>

  <button><a href="/contact/@contact.GetID()/delete">Yes</a></button>
  <button><a href="/">No</a></button>
</div>
