@{
  Layout = "_Layout";
}

<div class="container">
  <div class="display">
    <h1>Contact Details:</h1>
    <ul>
      <h3>@Model.GetID(). @Model.GetName()</h3>
      <li>Phone: @Model.GetPhone()</li>
      <li>Address: @Model.GetAddress()</li>
    </ul>
  </div>

  <button><a href="/contact/add">Add Contact</a></button>
  <button><a href="contacts/clear/safeguardall">Clear Contacts</a></button>
  <button><a href="/">Return to Homepage</a></button>
</div>
