@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Address Book</h1>
  <h2>A place to keep your contacts so that you can keep in contact.</h2>

  <h3>Your Contacts:</h3>
  @foreach (var contact in Model)
  {
    <h3><a href="/contact/{id}">@contact.GetName()</a></h3>
    <h5><a href="/contact/{id}/delete/safeguard">Delete @contact.GetName()</a></h5>
  }

  <button><a href="/contact/add">Add Contact</a></button>
  <button><a href="contacts/clear">Clear Contacts</a></button>
  <button><a href="/">Return to Homepage</a></button>
</div>
