@{
  Layout = "_Layout";
}

<div class="container">
  <h1>You Created A Contact!!!</h1>
  <ul>
    <h3>Name:  @Model.GetName()</h3>
    <li>Phone Number:  @Model.GetPhone()</li>
    <li>Address:  @Model.GetAddress()</li>
  </ul>

    <button><a href="/contact/add">Add Contact</a></button>
    <button><a href="contacts/clear">Clear Contacts</a></button>
    <button><a href="/">Return to Homepage</a></button>
</div>
