@{
  Layout = "_Layout";
}

<div class="container">
  <div class="display">
    <h1>Address Book</h1>
    <h2>Are you really sure you want to delete ALL your contacts?</h2>
  </div>

  <button><a href="/contacts/clear">Yes</a></button>
  <button><a href="/">No</a></button>
</div>
